.weather-container {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.weather-container h1 {
  font-size: 3rem;
  margin-bottom: 40px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.search-box input {
  width: 300px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px 0 0 10px;
  background: transparent;
  color: white;
  outline: none;
}

.search-box input::placeholder {
  color: white;
}

.search-box button {
  padding: 15px 30px;
  border: none;
  background: #f47b20;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.weather-info {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.weather-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weather-left img {
  width: 100px;
}

.weather-left h2 {
  font-size: 4rem;
}

.weather-right h2 {
  font-size: 2rem;
}

.forecast-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.forecast-card {
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.15);
  min-width: 120px;
}

.forecast-card img {
  width: 50px;
  margin: 10px 0;
}

.forecast-card p {
  margin: 5px 0;
}